/*
|---------------------------------------------------------------------
| Basic Select List Styles
|---------------------------------------------------------------------
| All styles for the select list
|
 */
/* line 16, sass/screen.scss */
.the-select, .the-select-2 {
  display: none; }

/* line 20, sass/screen.scss */
.droption {
  height: 34px;
  width: 300px;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: #f0f0f0 0 0 10px;
  -moz-box-shadow: #f0f0f0 0 0 10px;
  box-shadow: #f0f0f0 0 0 10px;
  text-shadow: white 1px 1px 0;
  z-index: 60;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f9f9f9, #eeeeee);
  background-image: -moz-linear-gradient(#f9f9f9, #eeeeee);
  background-image: -o-linear-gradient(#f9f9f9, #eeeeee);
  background-image: linear-gradient(#f9f9f9, #eeeeee); }
  /* line 30, sass/screen.scss */
  .droption .arrow {
    border-left: 1px solid #e1e1e1;
    position: relative;
    float: right;
    width: 40px;
    height: 34px;
    display: block;
    background: url(../images/arrows.png) no-repeat center center;
    cursor: pointer;
    z-index: 50;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px; }
    /* line 43, sass/screen.scss */
    .droption .arrow.open {
      -moz-border-radius-bottomright: 0;
      -webkit-border-bottom-right-radius: 0;
      border-bottom-right-radius: 0; }
  /* line 48, sass/screen.scss */
  .droption .label-wrap {
    display: block;
    width: 100%;
    height: 34px;
    border: 1px solid #e1e1e1;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(#f9f9f9, #eeeeee);
    background-image: -moz-linear-gradient(#f9f9f9, #eeeeee);
    background-image: -o-linear-gradient(#f9f9f9, #eeeeee);
    background-image: linear-gradient(#f9f9f9, #eeeeee);
    z-index: 40;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    /* line 57, sass/screen.scss */
    .droption .label-wrap.open {
      -moz-border-radius-bottomright: 0;
      -webkit-border-bottom-right-radius: 0;
      border-bottom-right-radius: 0;
      -moz-border-radius-bottomleft: 0;
      -webkit-border-bottom-left-radius: 0;
      border-bottom-left-radius: 0; }
    /* line 62, sass/screen.scss */
    .droption .label-wrap .label {
      display: block;
      width: 100%;
      padding: 8px 10px;
      position: absolute;
      z-index: 40;
      padding-top: 9px;
      font-family: helvetica, sans-serif;
      color: #666;
      font-size: 14px; }
  /* line 73, sass/screen.scss */
  .droption .select-options {
    width: 100%;
    max-height: 200px;
    border: 1px solid #e1e1e1;
    border-top: none;
    position: relative;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(#f9f9f9, #eeeeee);
    background-image: -moz-linear-gradient(#f9f9f9, #eeeeee);
    background-image: -o-linear-gradient(#f9f9f9, #eeeeee);
    background-image: linear-gradient(#f9f9f9, #eeeeee);
    -webkit-box-shadow: #dddddd 0 0 5px;
    -moz-box-shadow: #dddddd 0 0 5px;
    box-shadow: #dddddd 0 0 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 70; }
    /* line 87, sass/screen.scss */
    .droption .select-options .options-wrapper {
      margin: 0;
      padding: 0;
      display: block; }
      /* line 92, sass/screen.scss */
      .droption .select-options .options-wrapper .option {
        display: block;
        padding: 5px 10px;
        border-top: 1px solid #e1e1e1;
        font-family: helvetica, sans-serif;
        color: #666;
        font-size: 12px;
        cursor: pointer; }
        /* line 99, sass/screen.scss */
        .droption .select-options .options-wrapper .option:hover {
          background-color: #efc471; }
        /* line 103, sass/screen.scss */
        .droption .select-options .options-wrapper .option.first {
          border-top: none; }
